<div class="section">
    <div class="head-tag tag-bg">
        已充值的服务
    </div>
</div>
<div class="section">
    <div class="service-nav">
        <div class="icon icon-xinpiao2"></div>
    </div>
</div>
<div class="section">
    <div class="head-tag tag-bg">
        可以提供的服务
    </div>
</div>
<div class="section">
    <div class="service">
        <div class="service-group service-padding">
            
            <div class="service-group-item service-item-adorn">
                <div class="info-icon pull-left">
                    <div class="icon icon-baozhengjin"></div>
                </div>
                <div class="info-wrap pull-left">
                    <div class="info-wrap-inner border-right pull-left">
                        <div class="text-wrap clearfix">
                            <span>保证金</span>
                            <label>缴纳保证金，看到心仪的TA
                            </label>
                        </div>
                    </div>
                    <div class="tag-wrap text-center pull-left">
                        <a class="btn btn-second btn-sm" ng-href="#/charge"><b>去充值</b></a>
                    </div>
                </div>
            </div>
            <div class="service-group-item service-item-adorn">
                <div class="info-icon pull-left">
                    <div class="icon icon-yuehuifei"></div>
                </div>
                <div class="info-wrap pull-left">
                    <div class="info-wrap-inner border-right pull-left">
                        <div class="text-wrap clearfix">
                            <span>VIP会员费</span>
                            <label>帮助你约到心仪的人
                            </label>
                        </div>
                    </div>
                    <div class="tag-wrap tag-border pull-left">
                        <a class="btn btn-second btn-sm" ng-href="#/charge"><b>去充值</b>
                            </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>