<div class="section">
    <div class="search-wrap">
        <div class="tabs">
            <a href="" class="tabs-item tabs-width33 pull-left" ng-href="#/appointment1_sure">
                约会我的
            </a>
            <span>|</span>
            <a href="" class="tabs-item tabs-width33 pull-left highlight" ng-href="#/appointment2_sure">
                我约会的
            </a>
            <span>|</span>
            <a href="" class="tabs-item tabs-width33 pull-left" ng-href="#/appointment2_refuse">
                成功约会
            </a>
        </div>
    </div>
    <div class="input-group">
        <a class="coach-item" ng-repeat="meetting in meettings">
            <div class="coach-sm-items">
                <div class="coach-sm-avatar">
                    <imageview src="staticImageUrl+meetting.User.image_01" data-rate="1"></imageview>
                </div>
                <div class="btn-box pull-right">
                    <span class="btn btn-second btn-xs pull-right" ng-if="meetting.status == '2'" ng-click="open_modal(meetting)"><b>约会投诉</b></span>
                    <!-- <span class="btn btn-second btn-xs sure-date sure-date-position8" ng-click="open_modal(meetting,'agree')"><b>同意</b></span>
                <span class="btn btn-second btn-xs sure-date sure-date-position12" ng-click="open_modal(meetting,'reject')"><b>拒绝</b></span> -->
                </div>
                <div class="coach-info">
                    <div class="coach-info-tip">
                        <p>
                            {{meetting.User.nickname}}
                            <span class="icon icon-nan_2"></span>
                        </p>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <span>{{meetting.User.edu}}</span>
                        <span>月薪</span>
                        <span>{{meetting.User.income}}</span>
                    </div>
                    <!-- <div class="coach-info-tip clearfix">
                        <span>{{meetting.User.age}}岁</span>
                        <span>{{meetting.User.height}}</span>
                        <span>{{meetting.User.province}}</span>
                        <span>{{meetting.User.city}}</span>
                    </div> -->
                    <div class="coach-info-tip clearfix">
                        <span class="text-primary">你发起了约会邀请</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="btn btn-primary btn-block btn-width" ng-click="loadMore()">{{page.message}}</div>
</div>
<div class="modal-show" ng-if="modal.status == '1'">
    <div class="madal-body">
        <div class="madal-body-content">
            <span>{{complaint}}</span>
            <span>电话号码:{{report_info.complaint_email}}</span>
            <span>投诉信箱:{{report_info.complaint_telephone}}</span>
            <span>QQ:{{report_info.complaint_QQ}}</span>
        </div>
        <div class="madal-body-btn" ng-click="cancel_modal()">取消</div>
        <div class="madal-body-btn" ng-click="confirm_modal()">确定</div>
    </div>
</div>