<div class="section">
    <div class="input-group">
        <a class="input-group-item" ng-href="#/appointment1_sure">
            <div class="icon icon-yh-yhwd pull-left"></div>
            约会我的
            <div class="icon icon-jiantou pull-right"></div>
        </a>
        <a class="input-group-item" ng-href="#/appointment2_sure">
            <div class="icon icon-yh-wyhd pull-left"></div>
            我约会的
            <div class="icon icon-jiantou pull-right"></div>
        </a>
        <a class="input-group-item" ng-href="#/appointment2_refuse">
            <div class="icon icon-yh-wyhd pull-left"></div>
            成功约会
            <div class="icon icon-jiantou pull-right"></div>
        </a>
    </div>
</div>