<div class="">
    <div class="ta">
        <div class="ta-adv">
            <img src="../images/im.png">
            <div class="left-camera">
                <div class="icon icon-xiangji"></div>
                <span>1/8</span>
            </div>
            <div class="right-baseinfo btn-sm">
                <div class="icon icon-xihuan"></div>
            </div>
        </div>
        <div class="ta-banner clearfix">
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
        </div>
        <div class="ta-title">
            <div class="icon icon-nan_3 pull-left"></div>
            <span>咚起大起</span> 24岁
            <div class="icon icon-hotel"></div>
            <div class="icon icon-cart"></div>
            <div class="icon icon-people"></div>
        </div>
        <div class="ta-second">
            <div class="icon icon-dingwei2"></div>
            <span>广东</span> 深圳
        </div>
    </div>
    <div class="items">
        <div class="item">
            <i class="icon icon-tr-db bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">个人独白</div>
            <div class="item-content">
                我的键是好地方 时间段发生水电费水电费就好搞烧烤框架和史蒂夫花果山我的键是好地方 时间段发生水电费水电费就好搞烧烤框架和史蒂夫花果山
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-rz bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">认证</div>
            <div class="item-content">
                <div class="ta-subnav clearfix">
                    <div class="ta-content-rz  col-xm-4 pull-left">
                        <span><div class="icon icon-authen_1"></div></span>
                        <span>实名认证</span>
                    </div>
                    <div class="ta-content-rz  col-xm-4 pull-left">
                        <span><div class="icon icon-authen_2"></div></span>
                        <span>手机认证</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-aihao bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">兴趣爱好</div>
            <div class="item-content">
                <div class="btn btn-second btn-xs tag-bottom">看电影</div>
                <div class="btn btn-second btn-xs tag-bottom">听音乐</div>
                <div class="btn btn-second btn-xs tag-bottom">唱歌</div>
                <div class="btn btn-second btn-xs tag-bottom">窝在家里</div>
                <div class="btn btn-second btn-xs tag-bottom">读书绘画</div>
                <div class="btn btn-second btn-xs tag-bottom">你懂的</div>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-caiyi bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">才艺</div>
            <div class="item-content">
                <div class="btn btn-second btn-xs tag-bottom">看电影</div>
                <div class="btn btn-second btn-xs tag-bottom">听音乐</div>
                <div class="btn btn-second btn-xs tag-bottom">唱歌</div>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-zl bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">基本资料</div>
            <div class="item-content">
                <div class="edit-list">
                    <ul>
                        <li>ID<span>111111</span></li>
                        <li>性别<span>女</span></li>
                        <li>出生年月<span>1989-10-01</span></li>
                        <li>身高<span>168CM</span></li>
                        <li>收入<span>10000-20000元</span></li>
                        <li>居住地<span>广东深圳</span></li>
                        <li>学历<span>本科</span></li>
                        <li>婚姻状况<span>未婚</span></li>
                        <li>有无子女<span>无</span></li>
                        <li>购房情况<span>已购房(有贷款)</span></li>
                        <li>购车情况<span>以后再告诉你</span></li>
                        <li>职业情况<span>证券/金融/投资/银行</span></li>
                        <li><span></span></li>
                        <li><span></span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-zo bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">择偶要求</div>
            <div class="item-content">
                <div class="edit-list">
                    <ul>
                        <li>年龄<span>23-24岁</span></li>
                        <li>身高<span>168CM</span></li>
                        <li>收入<span>不限</span></li>
                        <li>居住地<span>广东深圳</span></li>
                        <li>学历<span>本科</span></li>
                        <li>婚姻状况<span>未婚</span></li>
                        <li>有无子女<span>无</span></li>
                        <li>购房情况<span>不限</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-dangan bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">小档案</div>
            <div class="item-content">
                <div class="edit-list">
                    <ul>
                        <li>家乡<span>深圳西乡</span></li>
                        <li>民族<span>汉</span></li>
                        <li>属相<span>虎</span></li>
                        <li>星座<span>白羊</span></li>
                        <li>血型<span>A</span></li>
                        <li>体型<span>偏瘦</span></li>
                        <li>体重<span>65kg</span></li>
                        <li>相貌自评<span>帅哥一枚</span></li>
                        <li>宗教信仰<span>无</span></li>
                        <li>是否吸烟<span>否</span></li>
                        <li>是否饮酒<span>否</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-jygz bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">教育及工作单位</div>
            <div class="item-content">
                <div class="edit-list">
                    <ul>
                        <li>毕业院校<span>中国地质大学</span></li>
                        <li>所学专业<span>建筑类</span></li>
                        <li>职业职务<span>建筑/房地产/装饰</span></li>
                        <li>公司性质<span>私营企业</span></li>
                        <li>公司行业<span>房地产建筑业</span></li>
                        <li>工作状态<span>偶尔</span></li>
                        <li>掌握语言<span>中文</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-td bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">我有态度</div>
            <div class="item-content">
                <div class="edit-list">
                    <ul>
                        <li>金钱观<span>享受第一</span></li>
                        <li>性观念<span>享受身体</span></li>
                        <li>事业与爱情<span>有事业就有爱情</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-aiqing bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">爱情规划</div>
            <div class="item-content">
                <div class="edit-list">
                    <ul>
                        <li>结婚计划<span>接受闪婚</span></li>
                        <li>家务分工<span></span></li>
                        <li>是否想要孩子<span></span></li>
                        <li>是否与父母同住<span>视情况而定</span></li>
                        <li>夫妻模式<span>以男人事业为主</span></li>
                        <li>相处模式<span>相敬如宾</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-yj bg-color"></i>
            <div class="item-title">生活印记</div>
            <div class="edit-list">
                <ul>
                    <li>
                    	最向往的事
                    	<div class="icon icon-jiantou2 pull-right"></div>
                    	<span>笑</span>
                        
                    </li>
                    <li>最喜欢的书<span></span></li>
                    <li>最喜欢的电影<span></span></li>
                    <li>最关注的话题<span></span></li>
                    <li>最骄傲的shi<span></span></li>
                    <li>厨艺状况<span></span></li>
                    <li>到过的地方<span></span></li>
                </ul>
            </div>
        </div>
        <div class="item">
            <i class="icon icon-tr-shq bg-color"></i>
            <a class="btn btn-second btn-xs pull-right edit-margin-right">编辑</a>
            <div class="item-title">生活圈</div>
            <div class="item-content">
                <div class="edit-list">
                    <ul>
                        <li>工作地点<span>南油大厦</span></li>
                        <li>生活地点<span>桃园</span></li>
                        <li>常出没地<span>星巴克</span></li>
                        <li>工作单位<span>科技园</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="btn-center">
            <button href="" class="btn btn-primary btn-block btn-width" ng-click="show_step(3)">下一步</button>
        </div>
    </div>
</div>