<div class="section">
    <div class="service">
        <div class="service-group">
            <div class="service-group-item service-border-bottom" ng-click="change_vips(vip)" ng-repeat="vip in vips">
                <div class="info-icon pull-right">
                    <div class="icon icon-weixuanzhong" ng-class="{'active':input.vip.vip_price_id==vip.vip_price_id}"></div>
                </div>
                <div class="info-wrap pull-left">
                    <div class="ticket-wrap pull-left">
                        <div class="ticket"><span>{{vip.months}}个月VIP</span></div>
                    </div>
                    <div class="price-wrap">
                        <div class="price pull-left">
                            <span>{{vip.price}}元</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="section">
            <div class="btn-center">
                <a ng-href="#/payment?id={{input.vip.vip_price_id}}&money={{input.vip.price}}&type=charge" class="btn btn-primary btn-block btn-width" >确认</a>
            </div>
        </div>
    </div>
</div>