<div class="express">
    <div class="head">
        顺丰 0340221245645
    </div>
    <div class="interval">
    </div>
    <div class="express-group">
        <div class="express-title">
            快递信息
        </div>
        <div class="express-item">
            <div class="express-time pull-left">
                <span>2016.05.06</span>
                <p>09:18</p>
                <div class=" icon icon-normal"></div>
            </div>
            <div class="address-status">
                <span>已签收，感谢使用顺丰，期待再次为你您服务已签收，次为你您服务感谢使用顺丰，期待再次为你您服务</span>
            </div>
        </div>
        <div class="express-item">
            <div class="express-time pull-left">
                <span>2016.05.06</span>
                <p>07:38</p>
                <div class=" icon icon-normal"></div>
            </div>
            <div class="address-status">
                <span>正在派送途中</span>
            </div>
        </div>
        <div class="express-item">
            <div class="express-time pull-left">
                <span>2016.05.06</span>
                <p>03:38</p>
                <div class=" icon icon-normal"></div>
            </div>
            <div class="address-status">
                <span>快件到达【深圳福田金地工业部】</span>
            </div>
        </div>
        <div class="express-item">
            <div class="express-time pull-left">
                <span>2016.05.06</span>
                <p>03:08</p>
                <div class=" icon icon-normal"></div>
            </div>
            <div class="address-status">
                <span>快件离开【深圳彩田集散中心】，正发往【深圳福田金地工业部】</span>
            </div>
        </div>
        <div class="express-item">
            <div class="express-time pull-left">
                <span>2016.05.06</span>
                <p>02:38</p>
                <div class=" icon icon-normal"></div>
            </div>
            <div class="address-status">
                <span>快件到达【深圳彩田集散中心】</span>
            </div>
        </div>
    </div>
</div>