<div class="footer justified">
	<div class="footer-item">
		<i class="icon icon-home" ng-class="{'active':active=='index'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='index'}">他人</span>
	</div>
	<div class="footer-item">
		<i class="icon icon-search" ng-class="{'active':active=='second'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='second'}">搜索</span>
	</div>
	<div class="footer-item">
		<i class="icon icon-message" ng-class="{'active':active=='second'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='second'}">消息</span>
	</div>
	<div class="footer-item">
		<i class="icon icon-service" ng-class="{'active':active=='second'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='second'}">服务</span>
	</div>
	<div class="footer-item">
		<i class="icon icon-user" ng-class="{'active':active=='second'}"></i>
		<span class="block"  ng-class="{'text-primary':active=='second'}">我的</span>
	</div>
</div>