<div class="section">
    <div class="head-tag text-right">
        喜欢你的人:<span>4</span>
    </div>
    <div class="input-group">
        <a href="" class="coach-item" ng-href="#/detail">
            <div class="coach-sm-items">
                <div class="coach-sm-avatar">
                    <img src="../images/banner.png" class="full-width full-height">
                </div>
                <div class="coach-info">
                    <div class="coach-info-tip">
                        <p>
                            咚起大起
                            <span class="icon icon-nan-2"></span>
                        </p>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <div class="icon icon-hotel"></div>
                        <div class="icon icon-cart"></div>
                        <span>硕士</span>
                        <span>月薪</span>
                        <span>10000-20000</span>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <span>24岁</span>
                        <span>165cm</span>
                        <span>广东</span>
                        <span>深圳</span>
                    </div>
                </div>
                <i class="fa fa-angle-right icon-next pull-right"></i>
            </div>
        </a>
        <a href="" class="coach-item" ng-href="#/detail">
            <div class="coach-sm-items">
                <div class="coach-sm-avatar">
                    <img src="../images/banner.png" class="full-width full-height">
                </div>
                <div class="coach-info">
                    <div class="coach-info-tip">
                        <p>
                            咚起大起
                            <span class="icon icon-nv-2"></span>
                        </p>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <div class="icon icon-hotel"></div>
                        <div class="icon icon-cart"></div>
                        <span>硕士</span>
                        <span>月薪</span>
                        <span>10000-20000</span>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <span>24岁</span>
                        <span>165cm</span>
                        <span>广东</span>
                        <span>深圳</span>
                    </div>

                </div>
                <i class="fa fa-angle-right icon-next pull-right"></i>
            </div>
        </a>
    </div>
</div>