<script src="js/amazeui.min.js">
</script>
<link href="css/common.css" rel="stylesheet" />
<div class="section">
    <div class="input-group">
        <a class="input-group-item">
            年龄
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select input-width select-text-right pull-right">
                <select class="full-width">
                    <option>23-24岁</option>
                    <option>25-26岁</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            身高
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select input-width select-text-right pull-right">
                <select class="full-width">
                    <option>165-175CM</option>
                    <option>175-185CM</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            地区
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select select-text-right pull-right">
                <select class="full-width">
                    <option>深圳</option>
                    <option>广州</option>
                    <option>东莞</option>
                    <option>乌鲁木齐</option>
                </select>
            </div>
            <div class="input-select select-text-right pull-right">
                <select class="full-width">
                    <option>广东</option>
                    <option>江西</option>
                    <option>四川</option>
                    <option>乌鲁木齐</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            婚姻状况
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select input-lg-width select-text-right pull-right">
                <select class="full-width">
                    <option>未婚</option>
                    <option>已婚</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            学历
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select input-width select-text-right pull-right">
                <select class="full-width">
                    <option>大学本科</option>
                    <option>博士</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            收入
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select input-width select-text-right pull-right">
                <select class="full-width">
                    <option>8000-10000</option>
                    <option>11000-15000</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            住房条件
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select input-lg-width select-text-right pull-right">
                <select class="full-width">
                    <option>以后告诉你</option>
                    <option></option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            有无子女
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select input-lg-width select-text-right pull-right">
                <select class="full-width">
                    <option>以后告诉你</option>
                    <option></option>
                </select>
            </div>
        </a>
    </div>
</div>