<div class="section">
    <div class="search-wrap">
        <div class="tabs">
            <a href="" class="tabs-item tabs-width50 pull-left highlight" ng-href="#/messages">
                收件箱
            </a>
            <a href="" class="tabs-item tabs-width50 pull-left" ng-href="#/send_messages">发件箱</a>
        </div>
    </div>
    <div href="" class="input-group">
        <div class="coach-item" ng-repeat="new in news" ng-click="go(new.user_id)">
            <div class="coach-sm-items">
                <div class="coach-sm-avatar">
                    <imageview src="staticImageUrl + new.image_01" data-rate="1"></imageview>
                </div>
                <div class="coach-info">
                    <div class="coach-info-tip">
                        <p>
                            {{new.nickname}}
                            <span class="icon" ng-class="{'icon-nan-2':new.sex=='1','icon-nv-2':new.sex=='0'}"></span>
                        </p>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <!-- <div class="icon icon-hotel"><s/div>
                        <div class="icon icon-cart"></div> -->
                        <span>{{new.edu}}</span>
                        <span>月薪</span>
                        <span>{{new.income}}</span>
                    </div>
                    <div class="icon icon-suozhu pull-right" ng-if="user.is_vip =='0'"></div>
                    <div class="coach-info-tip clearfix">
                        <span>{{new.age}}岁</span>
                        <span>{{new.height}}</span>
                        <span>{{new.province}}</span>
                        <span>{{new.city}}</span>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="btn btn-primary btn-block btn-width" ng-click="loadMore()">{{page.message}}</div>
    </div>

    <dribehance-footer active="'messages'"></dribehance-footer>
</div>

<div class="modal-overlay" ng-if="modal.status == '1'">
    <div class="madal-body">
        
        <div class="madal-body-info">
            您还不是vip会员,是否成为vip会员？
        </div>
        <div class="madal-body-btn" ng-click="cancel_modal()">取消</div>
        <div class="madal-body-btn" ng-click="confirm_modal()">确定</div>
    </div>
</div>