<div class="section">
    <div class="input-group">
        <div class="coach-item clearfix" ng-click="local_go(love,$event)" ng-repeat="love in loves">
            <div class="coach-sm-items">
                <div class="coach-sm-avatar">
                    <imageview src="staticImageUrl + love.User.image_01" data-rate="1"></imageview>
                </div>
                <div class="coach-info">
                    <div class="coach-info-tip">
                        <p>
                            {{love.User.nickname}}
                            <span name="sex" class="icon" ng-class="{'icon-nan-2':love.User.sex=='1','icon-nv-2':love.User.sex=='0'}"></span>
                        </p>
                    </div>
                    <!-- <i class="fa fa-trash text-primary pull-right" ng-if="page.love_type != 2" ng-click="unlike(love,$event)"></i> -->
                    <div class="coach-info-tip clearfix">
                        <span>{{love.User.edu}} </span>
                        <span>月薪</span>
                        <span>{{love.User.income}}</span>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <span>{{love.User.age}}岁</span>
                        <span>{{love.User.height}}</span>
                        <span>{{love.User.province}}</span>
                        <span>{{love.User.city}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn btn-primary btn-block btn-width" ng-click="loadMore()">{{page.message}}</div>
</div>