<div class="">
    <div class="anthen">
        <div class="anthen-tips">请填写身份信息，以完成实名认证</div>
        <div class="input-group">
            <a href="" class="input-group-item" ng-href="">
                真实姓名
                <input type="text" placeholder="请输入真实姓名" class="input-sm-width pull-right">
            </a>
            <a href="" class="input-group-item" ng-href="">
                证件类型
                <span class="input-sm-width pull-right">身份证</span>
            </a>
            <a href="" class="input-group-item" ng-href="">
                证件号
                <input type="text" placeholder="请输入证件号码" class="input-sm-width pull-right">
            </a>
        </div>
        <div  class="id-card">
            <div class="positive pull-left">
                <div class="images"></div>
            </div>
            <div class="positive pull-left">
                <div class="images"></div>
            </div>
        </div>
    </div>
</div>



