<div class="section">
    <div class="search-wrap">
        <div class="tabs">
            <a href="" class="tabs-item tabs-width50 pull-left " ng-href="#/search">
                智能搜索
                <i class="icon icon-paixu"></i>
            </a>
            <a href="" class="tabs-item tabs-width50 pull-left highlight" ng-href="#/search_conditional">条件搜索<i class="icon icon-xiala active"></i></a>
        </div>
    </div>
    <div class="input-group" name="">
        <div class="input-group-item">
            <div class="xs-select-text">ID</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <input type="text" ng-model="input.user_id" placeholder="请输入用户id">
            </div>
        </div>
        <a class="input-group-item">
            年龄
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select select-text-right pull-right">

                <select name="age_from" ng-model="input.age_from" ng-options="age for age in ages" style="width:60px;overflow:hidden">
                    <option value="">请选择</option>
                </select>
                <b>- &nbsp;</b>
                <select name="age_to" ng-model="input.age_to" ng-options="age for age in ages" style="width:60px;overflow:hidden">
                    <option value="">请选择</option>
                </select>
            </div>
            
        </a>
        <a class="input-group-item">
            身高
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select select-text-right pull-right">

                <select name="height_from" ng-model="input.height_from" ng-options="height for height in heights" style="width:60px;overflow:hidden">
                    <option value="">请选择</option>
                </select>
                <b >- &nbsp;</b>
                <select name="height_to" ng-model="input.height_to" ng-options="height for height in heights" style="width:60px;overflow:hidden">
                    <option value="">请选择</option>
                </select>
            </div>
            
        </a>
        <a class="input-group-item">
            地区
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select select-text-right pull-right">

                <select name="province" ng-model="input.province" ng-options="province for province in provinces">
                    <option value="">不限</option>
                </select>
                <select name="city" ng-model="input.city" ng-if="input.province" ng-options="city for city in cities">
                    <option value="">不限</option>
                </select>
            </div>
            
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">学历</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width" name="degree" ng-model="input.degree" ng-options="degree for degree in degrees"></select>
            </div>
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">收入</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width" name="income" ng-model="input.income" ng-options="income for income in incomes"></select>
            </div>
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">婚姻状态</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width" name="marry" ng-model="input.marry" ng-options="marry for marry in marrys"></select>
            </div>
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">会员类型</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width" name="member" ng-model="input.member" ng-options="member for member in members"></select>
            </div>
        </a>
        <div class="section">
            <div class="btn-center">
                <button type="button" name="search" class="btn btn-primary btn-block btn-width" ng-click="search()">搜索</button>
            </div>
        </div>
    </div>
</div>
<!-- footer tab bar -->
<dribehance-footer active="'search'"></dribehance-footer>
