<div class="signin">
    <form name="" method="" action="" onsubmit=""> 
        <div class="input-group">
            <div class="input-group-item">
                <div class="icon icon-pwd pull-left"></div>
                <input type="text" placeholder="请输入手机号码" class="input-lg-width">
            </div>
            <div class="input-group-item">
                <div class="icon icon-pwd pull-left"></div>
                <input type="password" placeholder="请输入密码" class="input-lg-width">
            </div>
            <div class="input-group-item">
                <input type="text" placeholder="请输入验证码" class="input-sm-width">
            </div>
        </div>
        <div class="btn-center">
            <button href="" class="btn btn-default btn-block btn-width">登录</button>
        </div>
        <div class="signin-info">
            <div class="third-party">使用第三方登录</div>
        </div>
        <div class="btn-center text-center">
            <a href="" class="icon icon-pwd"></a>
        </div>
    </form>
</div>