<div class="section">
    <div class="">
        <div class="input-group">
            <a href="" class="coach-item" ng-href="">
                <div class="coach-sm-items">
                    <div class="coach-sm-avatar">
                        <img src="../images/banner.png" class="full-width full-height">
                    </div>
                    <div class="coach-info">
                        <div class="coach-info-tip">
                            <p>
                                活动主题：相亲派对
                            </p>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <span>时间：5月20日 19：30</span>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <span>地点：cocopar星巴克</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="" class="coach-item">
                <div class="coach-sm-items">
                    <div class="coach-sm-avatar">
                        <img src="../images/banner.png" class="full-width full-height">
                    </div>
                    <div class="coach-info">
                        <div class="coach-info-tip">
                            <p>
                                活动主题：相亲派对
                            </p>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <span>时间：5月20日 19：30</span>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <span>地点：cocopar星巴克</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="section">
    <div class="btn-center">
        <button  class="btn btn-primary btn-block btn-width" ng-click="">发布活动</button>
    </div>
</div>