<div class="athen">
    <div class="section">
        <div class="input-group">
            <a href="" class="input-group-item" ng-href="#/realname_authen">
                <div class="icon icon-rz-sm pull-left"></div>
                实名认证
                <div class="icon icon-jiantou pull-right"></div>
            </a>
            <a href="" class="input-group-item" ng-href="#/manual_authen">
                <div class="icon icon-rz-rg pull-left"></div>
                人工认证
                <div class="icon icon-jiantou pull-right"></div>
            </a>
            <a href="" class="input-group-item" ng-href="#/phone_authen">
                <div class="icon icon-rz-sj pull-left"></div>
                手机认证
                <div class="icon icon-jiantou pull-right"></div>
            </a>
        </div>
    </div>
</div>