<div class="section" ng-if="step == 1">
    <div class="service">
        <div class="service-group">
            <div class="service-group-item service-border-bottom" ng-click="change_vips(vip.vip_price_id)" ng-repeat="vip in vips">
                <div class="info-icon pull-right">
                    <div class="icon icon-weixuanzhong" ng-class="{'active':vips.vip==vip.vip_price_id}"></div>
                </div>
                <div class="info-wrap pull-left">
                    <div class="ticket-wrap pull-left">
                        <div class="ticket"><span>{{vip.months}}个月VIP</span></div>
                    </div>
                    <div class="price-wrap">
                        <div class="price pull-left">
                            <span>{{vip.price}}元</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="section">
            <div class="btn-center">
                <button href="" class="btn btn-primary btn-block btn-width" ng-click="show_step(2)">确认</button>
            </div>
        </div>
    </div>
</div>
<div class="section" ng-if="step == 2">
    <div class="service">
        <div class="service-group">
            <div class="service-group-item service-border-bottom text-field">
                <div class="text-field">
                    <span>当前选择：{{number}}张约会票</span>
                    <span>金额：128</span>
                </div>
            </div>
            <div class="service-group-item service-border-bottom" ng-click="change_pays('微信支付')">
                <div class="icon icon-weixin1 pull-left"></div>
                <div class="pay pull-left">微信支付</div>
                <div class="icon icon-weixuanzhong pull-right" ng-class="{'active':pays.pay=='微信支付'}"></div>
            </div>
            <div class="service-group-item service-border-bottom" ng-click="change_pays('押金支付')">
                <div class="pay sub-field">押金支付</div>
                <div class="icon icon-weixuanzhong pull-right" ng-class="{'active':pays.pay=='押金支付'}"></div>
            </div>
        </div>
        <div class="btn-center">
            <button href="" class="btn btn-primary btn-block btn-width">确认购买</button>
        </div>
    </div>
</div>