<div class="section">
    <div class="chat clearfix">
        <div class="chat-box">
        	<img src="../images/banner.png" class="full-width full-height pull-left">
        	<div class="chat-info">
        		<p class="org org-left">你的电话号码是多少呀？你的电话号码是多少呀？你的电话号码是多少呀？你的电话号码是多少呀？你的电话号码是多少呀？你的电话号码是多少呀？你的电话号码是多少呀？
        			<span class="cor"></span>
        		</p>

        	</div>
        </div>
        <div class="chat-box">
        	<img src="../images/banner.png" class="full-width full-height pull-right">
        	<div class="chat-info">
        		<p class="org pull-right org-right">你的电话号码是多少呀？
        			<span class="col"></span>
        		</p>

        	</div>
        </div>
        <div class="chat-box">
        	<img src="../images/banner.png" class="full-width full-height pull-right">
        	<div class="chat-info">
        		<p class="org pull-right org-right">你的电话号码是多少呀？
        			<span class="col"></span>
        		</p>

        	</div>
        </div>
        <div class="chat-box">
        	<img src="../images/banner.png" class="full-width full-height pull-left">
        	<div class="chat-info">
        		<p class="org org-left">你的电话号码是多少呀？你的电话号码是多少呀？
        			<span class="cor"></span>
        		</p>

        	</div>
        </div>
    </div>

</div>

<div class="section">
	<div class="chat-input">
		<input class="full-width">
		<div class="btn btn-default btn-positon">发送</div>
	</div>
</div>