<div class="list-group">

	<a class="list-group-item" ng-href="#/signin">
		登录
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/signup">
		注册
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/phone_authen">
		手机认证
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<div class="wrap bg-gray"></div>
	<a class="list-group-item" ng-href="#/authen">
		诚信认证
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/member">
		会员类型
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/appointment">
		我的约会
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/manual_authen">
		人工认证
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<div class="wrap bg-gray"></div>
	<a class="list-group-item" ng-href="#/mating">
		择偶要求/择偶条件
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/create_appointment">
		发布约会
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/chat">
		聊天
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<div class="wrap bg-gray"></div>
	<a class="list-group-item" ng-href="#/services">
		服务
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/account">
		我的账户
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/single">
		单身活动
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<div class="wrap bg-gray"></div>
	<a class="list-group-item" ng-href="#/ta">
		TA
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/search">
		搜索
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/messages">
		消息
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/vistors">
		谁看过我
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/lovers">
		谁喜欢我
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/mylove">
		我的喜欢
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/member1">
		会员类型-自助
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/member1">
		会员类型-高端婚猎
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/appointment1">
		我的约会-约会我的
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/appointment2">
		我的约会-我约会的
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<div class="wrap bg-gray"></div>
	<a class="list-group-item" ng-href="#/ta">
		我的
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<a class="list-group-item" ng-href="#/ta">
		基本资料
		<i class="fa fa-angle-right pull-right"></i>
	</a>
	<div class="wrap bg-gray"></div>
	<a class="list-group-item" ng-href="#/realname_authen">
		实名认证
		<i class="fa fa-angle-right pull-right"></i>
	</a>
</div>
<!-- footer tab bar -->
<dribehance-footer active="'index'"></dribehance-footer>