<div class="section">
    <div class="ta">
        <div class="ta-adv">
            <img src="../images/im.png">
            <div class="icon icon-plane plane"></div>
            <div class="left-camera">
                <div class="icon icon-xiangji"></div>
                <span>1/8</span>
            </div>
            <a class="right-baseinfo btn-sm" ng-href="#/basic">基本资料</a>
        </div>
        <div class="ta-banner clearfix">
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
        </div>
        <div class="ta-title">
            <div class="icon icon-nan_3 pull-left"></div>
            <span>咚起大起 24岁</span> 
            <div class="icon icon-hotel"></div>
            <div class="icon icon-cart"></div>
            <div class="icon icon-people"></div>
        </div>
        <div class="ta-second">
            <div class="icon icon-dingwei2"></div>
            <span>广东 深圳</span> 
        </div>
        <div class="ta-interval"></div>
        <div class="ta-title">
            我的服务
            <div class="icon icon-jiantou2 pull-right"></div>
        </div>
        <div class="ta-subnav clearfix">
            <div class="ta-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-xinpiao3"></div></span>
                <span>看信邮票</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
            <div class="ta-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-baozhengjin2"></div></span>
                <span>保证金</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
            <div class="ta-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-yuehuifei2"></div></span>
                <span>约会费</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
            <div class="ta-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-gdlh2"></div></span>
                <span>高端猎婚</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
        </div>
        <div class="ta-interval"></div>
        <div class="ta-title">
            我的账户
            <div class="icon icon-jiantou2 pull-right"></div>
        </div>
        <div class="ta-subnav clearfix">
            <div class="ta-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-xinpiao3" ></div></span>
                <span>剩余20张邮票</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
            <div class="ta-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-baozhengjin2"></div></span>
                <span>剩余200元</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
            <div class="ta-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-yuehuifei2"></div></span>
                <span>剩余200元</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
            <div class="ta-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-gdlh2"></div></span>
                <span>2个月到期</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
        </div>
        <div class="ta-interval"></div>
        <div class="input-group">
            <a class="input-group-item" ng-href="#/visitors">
                <div class="icon icon-w-follow"></div>谁看过我
            </a>
            <a class="input-group-item" ng-href="#/lovers">
                <div class="icon icon-w-aixin"></div>谁喜欢我
            </a>
            <a class="input-group-item" ng-href="#/appointment">
                <div class="icon icon-w-yuehui"></div>我的约会
            </a>
            <a class="input-group-item" ng-href="#/mylove">
                <div class="icon icon-w-xihuan"></div>我的喜欢
            </a>
            <a class="input-group-item" ng-href="#/authen">
                <div class="icon icon-w-rz"></div>诚信认证
            </a>
        </div>
    </div>
    <dribehance-footer active="'me'"></dribehance-footer>
</div>

<div class="modal-overlay" ng-if="modal.status == '1'">
    <div class="madal-body">
        <img src="../images/banner.png" class="full-width full-height">
        <div class="madal-body-info">
            缴纳约会保证金，同意和少帅毛毛共同约会
        </div>
        <div class="madal-body-btn" ng-click="cancel_modal()">取消</div>
        <div class="madal-body-btn" ng-click="confirm_modal()">确定</div>
    </div>
</div>