<div class="section">
    <div class="my">
        <div class="my-adv">
            <img src="../images/im.png">
            <div class="icon icon-plane plane"></div>
            <div class="left-camera">
                <div class="icon icon-xiangji"></div>
                <span>1/8</span>
            </div>
            <a class="right-baseinfo btn-sm" ng-href="#/basic">基本资料</a>
        </div>
        <div class="my-banner clearfix">
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
            <div class="col-xm-4 pull-left">
                <div class="banner-img">
                    <img src="../images/im.png">
                </div>
            </div>
        </div>
        <div class="my-title">
            <div class="icon icon-nan-3 pull-left"></div>
            <span>咚起大起 24岁</span> 
            <div class="icon icon-hotel"></div>
            <div class="icon icon-cart"></div>
            <div class="icon icon-people"></div>
        </div>
        <div class="my-second">
            <div class="icon icon-dingwei2"></div>
            <span>广东 深圳</span> 
        </div>
        <div class="interval"></div>
        <div class="my-titlebar">
            我的服务
            <div class="icon icon-jiantou4 pull-right"></div>
        </div>
        <div class="my-subnav clearfix">
            
            <div class="my-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-baozhengjin2"></div></span>
                <span>押金</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
            <div class="my-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-yuehuifei2"></div></span>
                <span>VIP会员费</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
            
        </div>
        <div class="interval"></div>
        <div class="my-titlebar">
            我的账户
            <div class="icon icon-jiantou4 pull-right"></div>
        </div>
        <div class="my-subnav clearfix">
            
            <div class="my-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-baozhengjin2"></div></span>
                <span>剩余200元</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>续费</b></a></span>
            </div>
            <div class="my-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-yuehuifei2"></div></span>
                <span>剩余200元</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>续费</b></a></span>
            </div>
            
        </div>
        <div class="interval"></div>
        <div class="input-group">
            <a class="input-group-item" ng-href="#/withdrawals">
                <div class="icon icon-ya"></div>押金提现
            </a>
            <a class="input-group-item" ng-href="#/mylove">
                <div class="icon icon-w-follow"></div>我喜欢的
            </a>
            <a class="input-group-item" ng-href="#/mylove">
                <div class="icon icon-w-aixin"></div>喜欢我的
            </a>
            <a class="input-group-item" ng-href="#/appointment">
                <div class="icon icon-w-yuehui"></div>我的约会
            </a>
            <a class="input-group-item" ng-href="#/mylove">
                <div class="icon icon-w-xihuan"></div>彼此喜欢
            </a>
            <a class="input-group-item" ng-href="#/authen">
                <div class="icon icon-w-rz"></div>诚信认证
            </a>
            <a class="input-group-item" ng-href="#/recommendation">
                <div class="icon icon-jian"></div>我的推荐码
            </a>
        </div>
    </div>
    <dribehance-footer active="'me'"></dribehance-footer>
</div>

<div class="modal-overlay" ng-if="modal.status == '1'">
    <div class="madal-body">
        <img src="../images/banner.png" class="full-width full-height">
        <div class="madal-body-info">
            缴纳约会保证金，同意和少帅毛毛共同约会
        </div>
        <div class="madal-body-btn" ng-click="cancel_modal()">取消</div>
        <div class="madal-body-btn" ng-click="confirm_modal()">确定</div>
    </div>
</div>