<div class="section">
    <div class="my">
        <div class="my-adv">
            <div data-rate="1">
                <img ng-src="{{staticImageUrl + user.image_01}}" show-on-loaded err-src="../images/banner.png">
            </div>
            <!-- <div class="icon icon-plane plane"></div> -->
            <div class="left-camera">
                <div class="icon icon-xiangji"></div>
                <span>{{get_images(image.other).length}}/8</span>
            </div>
            <a class="right-baseinfo btn-sm" ng-href="#/basic">基本资料</a>
        </div>
        <div class="my-banner clearfix">
            <div class="col-xm-4 pull-left" ng-repeat="image in get_images(user.image_other)">
                <div class="banner-img">
                    <img ng-src="{{staticImageUrl + image}}" err-src="../images/banner.png">
                </div>
            </div>
        </div>
        <div class="my-title">
            <div class="icon icon-nan-3 pull-left"></div>
            <span>{{user.nickname}} {{user.age}}岁</span>
            <div class="icon icon-hotel" ng-if="user.is_buy_house"></div>
            <div class="icon icon-cart" ng-if="user.is_buy_car"></div>
            <div class="icon icon-people" ng-if="user.is_real_name"></div>
        </div>
        <div class="my-second">
            <div class="icon icon-dingwei2"></div>
            <span>{{user.province}} {{user.city}}</span>
        </div>
        <div class="interval"></div>
        <a class="my-titlebar" ng-href="#/services">
            我的服务
            <div class="icon icon-jiantou4 pull-right"></div>
        </a>
        <div class="my-subnav clearfix">
            <div class="my-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-baozhengjin2"></div></span>
                <span>押金</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
            <div class="my-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-yuehuifei2"></div></span>
                <span>VIP会员费</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>去充值</b></a></span>
            </div>
        </div>
        <div class="interval"></div>
        <a class="my-titlebar" ng-href="#/account">
            我的账户
            <div class="icon icon-jiantou4 pull-right"></div>
        </a>
        <div class="my-subnav clearfix">
            <div class="my-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-baozhengjin2"></div></span>
                <span>剩余{{user.deposit}}元</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>续费</b></a></span>
            </div>
            <div class="my-subnav-list col-xm-4 pull-left">
                <span><div class="icon icon-yuehuifei2"></div></span>
                <span>剩余{{user.vip_money}}元</span>
                <span><a class="btn btn-second btn-xs" ng-href="#/charge"><b>续费</b></a></span>
            </div>
        </div>
        <div class="interval"></div>
        <div class="input-group">
            <a class="input-group-item" ng-href="#/withdrawals">
                <div class="icon icon-ya"></div>押金提现
            </a>
            <a class="input-group-item" ng-href="#/mylove?type=1">
                <div class="icon icon-w-follow"></div>我喜欢的
            </a>
            <a class="input-group-item" ng-href="#/mylove?type=2">
                <div class="icon icon-w-aixin"></div>喜欢我的
            </a>
            <a class="input-group-item" ng-href="#/mylove?type=3">
                <div class="icon icon-w-xihuan"></div>彼此喜欢
            </a>
            <a class="input-group-item" ng-href="#/appointment">
                <div class="icon icon-w-yuehui"></div>我的约会
            </a>
            <a class="input-group-item" ng-href="#/authen">
                <div class="icon icon-w-rz"></div>诚信认证
            </a>
            <!-- <a class="input-group-item" ng-href="#/recommendation">
                <div class="icon icon-jian"></div>我的推荐码
            </a> -->
            <a class="input-group-item">
                <div class="icon icon-jian"></div>我的推荐码
                <span class="pull-right">{{user.recommend_code}}</span>
            </a>
        </div>
    </div>
    <dribehance-footer active="'me'"></dribehance-footer>
</div>
<div class="modal-overlay" ng-if="modal.status == '1'">
    <div class="madal-body">
        <img src="../images/banner.png" class="full-width full-height">
        <div class="madal-body-info">
            缴纳约会保证金，同意和少帅毛毛共同约会
        </div>
        <div class="madal-body-btn" ng-click="cancel_modal()">取消</div>
        <div class="madal-body-btn" ng-click="confirm_modal()">确定</div>
    </div>
</div>
