<div class="">
    <div class="anthen">
        <div class="section">
            <div class="anthen-tips">请填写身份信息，以完成实名认证</div>
        </div>
        <div class="section">
            <div class="input-group">
                <div href="" class="input-group-item clearfix" ng-href="">
                    真实姓名
                    <input type="text" placeholder="请输入真实姓名" class="input-sm-width pull-right">
                </div>
                <div href="" class="input-group-item" ng-href="">
                    证件类型
                    <label class="input-sm-width pull-right">身份证</label>
                </div>
                <div href="" class="input-group-item" ng-href="">
                    证件号
                    <input type="text" placeholder="请输入证件号码" class="input-sm-width pull-right">
                </div>
            </div>
        </div>
        <div class="section">
            <div class="id-card">
                <div class="positive pull-left">
                    <span><b>*</b>身份证正面</span>
                    <div class="images-left">
                        <a href="" class="images-size full-width full-height">
                            <img src="../images/button_tianjia.png" class="">
                        </a>
                    </div>
                </div>
                <div class="positive pull-left">
                    <span><b>*</b>身份证反面</span>
                    <div class="images-right">
                        <a href="" class="images-size full-width full-height">
                            <img src="../images/button_tianjia.png" class="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="btn-center">
                <button href="" class="btn btn-default btn-block btn-width">下一步</button>
            </div>
        </div>
    </div>
</div>