<div class="section">
    <div class="search-wrap">
        <div class="tabs">
            <a href="" class="tabs-item tabs-width50 pull-left " ng-href="#/search">
                智能搜索
                <i class="icon icon-paixu"></i>
            </a>
            <a href="" class="tabs-item tabs-width50 pull-left highlight" ng-href="#/search_conditional">条件搜索<i class="icon icon-xiala active"></i></a>
        </div>
    </div>
    <div class="input-group" name="">
        <a class="input-group-item">
            <div class="xs-select-text">年龄</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width" name="age" ng-model="input.age">
                    <option>20岁以下</option>
                    <option>20-22岁</option>
                    <option>22-24岁</option>
                    <option>24-26岁</option>
                    <option>26-28岁</option>
                    <option>28-30岁</option>
                    <option>30-32岁</option>
                    <option>32-34岁</option>
                    <option>34-36岁</option>
                    <option>36-38岁</option>
                    <option>38-40岁</option>
                    <option>40岁以上</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">身高</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width" name="height" ng-model="input.height" ng-options="height for height in heights"></select>
            </div>
        </a>
        <a class="input-group-item">
            地区
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select select-text-right pull-right">

                <select name="province" ng-model="input.province" ng-options="province for province in provinces"></select>
                <select name="city" ng-model="input.city" ng-options="city for city in cities"></select>
            </div>
            
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">学历</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width" name="degree" ng-model="input.degree">
                    <option>初中以上</option>
                    <option>高中以上</option>
                    <option>中专以上</option>
                    <option>大专以上</option>
                    <option>本科以上</option>
                    <option>硕士以上</option>
                    <option>博士以上</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">收入</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width" name="income" ng-model="input.income">
                    <option>5000元以下</option>
                    <option>5000-8000元</option>
                    <option>8000-10000元</option>
                    <option>10000-20000元</option>
                    <option>20000-30000元</option>
                    <option>30000-40000元</option>
                    <option>40000-50000元</option>
                    <option>50000元以上</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">婚姻状态</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width" name="marry" ng-model="input.marry">
                    <option>未婚</option>
                    <option>离异无孩</option>
                    <option>离异有孩</option>
                    <option>丧偶</option>
                </select>
            </div>
        </a>
        <div class="section">
            <div class="btn-center">
                <button type="button" name="search" class="btn btn-primary btn-block btn-width" ng-click="search()">搜索</button>
            </div>
        </div>
    </div>
</div>
<!-- footer tab bar -->
<dribehance-footer active="'search'"></dribehance-footer>