<div class="section">
    <div class="search-wrap">
        <div class="tabs">
            <a class="tabs-item tabs-width50 pull-left highlight" ng-href="#/search">
                智能搜索
                <i class="icon icon-paixu active"></i>
            </a>
            <a class="tabs-item tabs-width50 pull-left" ng-href="#/search_conditional">条件搜索<i class="icon icon-xiala"></i></a>
        </div>
        <div class="input-group">
            <a class="coach-item clearfix" ng-href="#/detail" ng-repeat="love in loves">
                <div class="coach-items">
                    <div class="coach-avatar">
                        <!-- <img ng-src="{{staticImageUrl + love.image_01 }}" class="full-width full-height" alt="" err-src="../images/banner.png"> -->
                        <imageview src="staticImageUrl + love.image_01" data-rate="1"></imageview>
                    </div>
                    <div class="coach-info">
                        <div class="coach-info-tip">
                            <p>
                                {{love.nickname}}
                                <span name="sex" class="icon" ng-class="{'icon-nan-2':love.sex=='1','icon-nv-2':love.sex=='0'}"></span>
                            </p>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <div class="icon icon-hotel"></div>
                            <div class="icon icon-cart"></div>
                            <span>{{love.edu}} </span>
                            <span>月薪</span>
                            <span>{{love.income}}</span>
                        </div>
                        <div class="coach-info-tag text-ellipsis clearfix">
                            <span class="btn btn-second btn-xs" ng-repeat="tag in get_tag(love.taste)"><b>{{tag}}</b></span>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <span>{{love.age}}岁</span>
                            <span>{{love.height}}</span>
                            <span>{{love.province}}</span>
                            <span>{{love.city}}</span>
                        </div>
                    </div>
                </div>
            </a>
            <div class="btn btn-primary btn-block btn-width" ng-click="loadMore()">{{page.message}}</div>
        </div>
    </div>
</div>
<!-- footer tab bar -->
<dribehance-footer active="'search'"></dribehance-footer>