<div class="section">
    <div class="search-wrap">
        <div class="tabs">
            <a href="" class="tabs-item tabs-width50 pull-left highlight" ng-href="#/search">
                智能搜索
                <i class="icon icon-paixu active"></i>
            </a>
            <a href="" class="tabs-item tabs-width50 pull-left" ng-href="#/search_conditional">条件搜索<i class="icon icon-xiala"></i></a>
        </div>
        <div class="input-group">
            <a class="coach-item" ng-href="#/detail">
                <div class="coach-items">
                    <div class="coach-avatar">
                        <img src="../images/banner.png" class="full-width full-height">
                    </div>
                    <div class="coach-info">
                        <div class="coach-info-tip">
                            <p>
                                咚起大起
                                <span class="icon icon-nv-2"></span>
                            </p>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <div class="icon icon-hotel"></div>
                            <div class="icon icon-cart"></div>
                            <span>硕士</span>
                            <span>月薪</span>
                            <span>10000-20000</span>
                        </div>
                        <div class="coach-info-tag text-ellipsis clearfix">
                            <span class="btn btn-second btn-xs"><b>看电影</b></span>
                            <span class="btn btn-second btn-xs"><b>听歌</b></span>
                            <span class="btn btn-second btn-xs"><b>唱歌</b></span>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <span>24岁</span>
                            <span>165cm</span>
                            <span>广东</span>
                            <span>深圳</span>
                        </div>
                    </div>
                </div>
            </a>
            <a class="coach-item" ng-href="#/detail">
                <div class="coach-items">
                    <div class="coach-avatar">
                        <img src="../images/banner.png" class="full-width full-height">
                    </div>
                    <div class="coach-info">
                        <div class="coach-info-tip">
                            <p>
                                咚起大起
                                <span class="icon icon-nan-2"></span>
                            </p>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <div class="icon icon-hotel"></div>
                            <div class="icon icon-cart"></div>
                            <span>硕士</span>
                            <span>月薪</span>
                            <span>10000-20000</span>
                        </div>
                        <div class="coach-info-tag text-ellipsis clearfix">
                            <span class="btn btn-second btn-xs"><b>看电影</b></span>
                            <span class="btn btn-second btn-xs"><b>听歌</b></span>
                            <span class="btn btn-second btn-xs"><b>唱歌</b></span>
                        </div>
                        <div class="coach-info-tip clearfix">
                            <span>24岁</span>
                            <span>165cm</span>
                            <span>广东</span>
                            <span>深圳</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- footer tab bar -->
<dribehance-footer active="'search'"></dribehance-footer>