<div class="section">
    <div class="search-wrap">
        <div class="tabs">
            <a href="" class="tabs-item tabs-width50 pull-left " ng-href="#/search">
                智能搜索
                <i class="icon icon-paixu"></i>
            </a>
            <a href="" class="tabs-item tabs-width50 pull-left highlight" ng-href="#/search_conditional">条件搜索<i class="icon icon-xiala active"></i></a>
        </div>
    </div>
    <div class="input-group">
        <a class="input-group-item">
            <div class="xs-select-text">年龄</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width">
                    <option>20岁以下</option>
                    <option>20-22岁</option>
                    <option>22-24岁</option>
                    <option>24-26岁</option>
                    <option>26-28岁</option>
                    <option>28-30岁</option>
                    <option>30-32岁</option>
                    <option>32-34岁</option>
                    <option>34-36岁</option>
                    <option>36-38岁</option>
                    <option>38-40岁</option>
                    <option>40-42岁</option>
                    <option>42-44岁</option>
                    <option>44-46岁</option>
                    <option>46-48岁</option>
                    <option>48-50岁</option>
                    <option>50-52岁</option>
                    <option>52-54岁</option>
                    <option>54-56岁</option>
                    <option>56-58岁</option>
                    <option>58-60岁</option>
                    <option>60-62岁</option>
                    <option>62-64岁</option>
                    <option>64-66岁</option>
                    <option>66-68岁</option>
                    <option>68-70岁</option>
                    <option>70-72岁</option>
                    <option>72-74岁</option>
                    <option>74-76岁</option>
                    <option>76-78岁</option>
                    <option>78-80岁</option>
                    <option>80岁以上</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">身高</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width">
                    <option>155CM以下</option>
                    <option>155-160CM</option>
                    <option>160-165CM</option>
                    <option>165-170CM</option>
                    <option>165-175CM</option>
                    <option>175-185CM</option>
                    <option>185-190CM</option>
                    <option>190-195CM</option>
                    <option>200CM以上</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            地区
            <div class="icon icon-jiantou pull-right"></div>
            <div class="input-select select-text-right pull-right">
                <select class="full-width">
                    <option>深圳</option>
                    <option>广州</option>
                    <option>东莞</option>
                    <option>乌鲁木齐</option>
                </select>
            </div>
            <div class="input-select select-text-right pull-right">
                <select class="full-width">
                    <option>广东</option>
                    <option>江西</option>
                    <option>四川</option>
                    <option>乌鲁木齐</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">学历</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width">
                    <option>初中以上</option>
                    <option>高中以上</option>
                    <option>中专以上</option>
                    <option>大专以上</option>
                    <option>本科以上</option>
                    <option>硕士以上</option>
                    <option>博士</option>
                </select>
            </div>
        </a>
        <a class="input-group-item">
            <div class="xs-select-text">收入</div>
            <div class="icon icon-jiantou"></div>
            <div class="sm-select select-text-direction">
                <select class="full-width">
                    <option>5000元以下</option>
                    <option>5000-8000元</option>
                    <option>8000-10000元</option>
                    <option>10000-20000元</option>
                    <option>20000-30000元</option>
                    <option>30000-40000元</option>
                    <option>40000-50000元</option>
                    <option>50000元以上</option>
                </select>
            </div>
        </a>
    </div>
</div>
<div class="section">
    <div class="btn-center">
        <a href="" class="btn btn-primary btn-block btn-width" ng-href="#/search">搜索</a>
    </div>
</div>
<!-- footer tab bar -->
<dribehance-footer active="'search'"></dribehance-footer>