<div class="section">
    <div class="search-wrap">
        <div class="tabs">
            <a class="tabs-item tabs-width50 pull-left" ng-href="#/messages">
				收件箱
			</a>
            <a class="tabs-item tabs-width50 pull-left highlight" ng-href="#/send_messages">发件箱</a>
        </div>
    </div>
    <div class="input-group">
        <a class="coach-item" ng-href="#/chat?id={{message.user_id}}" ng-repeat="message in messages">
            <div class="coach-sm-items">
                <div class="coach-sm-avatar">
                    <imageview src="staticImageUrl + message.image_01" data-rate="1"></imageview>
                </div>
                <div class="coach-info">
                    <div class="coach-info-tip">
                        <p>
                            {{message.nickname}}
                            <span class="icon" ng-class="{'icon-nan-2':message.sex=='1','icon-nv-2':message.sex=='0'}"></span>
                        </p>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <div class="icon icon-hotel"></div>
                        <div class="icon icon-cart"></div>
                        <span>{{message.edu}}</span>
                        <span>月薪</span>
                        <span>{{message.income}}</span>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <span>{{message.age}}岁</span>
                        <span>{{message.height}}</span>
                        <span>{{message.province}}</span>
                        <span>{{message.city}}</span>
                    </div>
                </div>
               
            </div>
        </a>
    </div>
    <div class="btn btn-primary btn-block btn-width" ng-click="loadMore()">{{page.message}}</div>
</div>
<dribehance-footer active="'messages'"></dribehance-footer>
