<div class="min-bg">
    <div class="section">
        <div class="service">
            <div class="service-content">
                <div class="info-avatar pull-left">
                    <div class="icon icon-xinpiao"></div>
                </div>
                <div class="info-wrap pull-left">
                    <div class="info-wrap-inner pullt-left">
                        <div class="text-wrap clearfix">
                            <span>看信邮票</span>
                            <label>充值以后可以任意看信件
                            </label>
                        </div>
                    </div>
                    <div class="tag-wrap pullt-left">
                        <span class="btn btn-second btn-sm"><b>去充值</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>