
<div class="section" ng-if="step == 1">
    <div class="service">
        <div class="service-group service-padding">
            
            <div class="service-group-item service-content-border">
                <div class="info-icon pull-left">
                    <div class="icon icon-baozhengjin"></div>
                </div>
                <div class="info-wrap pull-left">
                    <div class="info-wrap-inner pull-left">
                        <div class="text-wrap clearfix">
                            <span>保证金</span>
                            <label>充值以后可以任意看信件
                            </label>
                        </div>
                    </div>
                    <div class="tag-wrap tag-border pull-left">
                        <a class="btn btn-second btn-sm" ng-href="#/charge"><b>去充值</b></a>
                    </div>
                </div>
            </div>
            <div class="service-group-item service-content-border">
                <div class="info-icon pull-left">
                    <div class="icon icon-yuehuifei"></div>
                </div>
                <div class="info-wrap pull-left">
                    <div class="info-wrap-inner pull-left">
                        <div class="text-wrap clearfix">
                            <span>约会费</span>
                            <label>充值以后可以任意看信件
                            </label>
                        </div>
                    </div>
                    <div class="tag-wrap tag-border pull-left">
                        <a class="btn btn-second btn-sm" ng-href="#/charge"><b>去充值</b>
                            </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>




<!-- footer tab bar -->
<dribehance-footer active="'services'"></dribehance-footer>