<form name="signupForm" ng-submit="ajaxForm()">
    <div class="signup" ng-if="step == 1" ng-form="stepForm1">
        <div class="input-group">
            <div class="input-group-item addon">
                <div class="icon icon-shouji"></div>
                <input type="text" name="telephone" placeholder="请输入手机号码" class="full-width" ng-model="input.telephone" required>
            </div>
            <div class="input-group-item addon">
                <div class="icon icon-pwd"></div>
                <input type="password" name="password" placeholder="请输入密码" class="full-width" ng-model="input.password" required>
            </div>
            <div class="input-group-item addon">
                <div class="icon icon-nicheng"></div>
                <input type="text" placeholder="推荐人" name="referee" class="full-width" ng-model="input.referee">
            </div>
            <div class="input-group-item">
                <input type="text" placeholder="请输入验证码" class="input-sm-width" name="sms_code" ng-model="input.sms_code" required>
                <countdown class="btn btn-second btn-sm  pull-right" countdown="countdown" countdown-disabled="phoneForm.telephone.$invalid">{{countdown.message}}</countdown>
            </div>
        </div>
        <div class="btn-center">
            <button type="button" class="btn btn-block btn-width" ng-disabled="stepForm1.$invalid" ng-class="{'btn-primary':stepForm1.$valid,'btn-default':stepForm1.$invalid}" ng-click="show_step(2)">下一步</button>
        </div>
        <div class="btn-center btn-margin">
            <a ng-href="#/signin" class="btn btn-block btn-primary btn-width" ng-disabled="stepForm1.$invalid">已有账号，登录</a>
        </div>
    </div>
    <div class="signup" ng-if="step == 2" ng-form="stepForm2">
        <div class="signup">
            <div class="section">
                <div class="signup-head" flow-init="{singleFile:true}" flow-attrs="{accept:'image/*'}" flow-btn ng-controller="uploadController">
                    <a class="images" data-rate="1">
                        <img src="../images/avatar_bg.png" flow-img="$flow.files[0]" class="full-height full-width">
                       
                    </a>
                    <input type="hidden" name="filename" ng-model="input.filename" required>
                </div>
            </div>
            <div class="section">
                <div class="signup-or clearfix">
                    <div class="man pull-left" ng-class="{'text-primary':input.gender == '1'}" ng-click="select_gender('1')">
                        <i class="icon icon-nan" ng-class="{'active':input.gender == '1'}"></i> 男
                    </div>
                    <div class="or-width pull-left"><span class="or">or</span></div>
                    <div class="woman pull-right" ng-class="{'text-primary':input.gender == '0'}" ng-click="select_gender('0')">
                        <i class="icon icon-nv" ng-class="{'active':input.gender == '0'}"></i> 女
                    </div>
                </div>
            </div>
            <div class="signup-blank"></div>
            <div class="section">
                <div class="input-group">
                    <div class="input-group-item addon">
                        <div class="icon icon-nicheng"></div>
                        <input type="text" placeholder="我的昵称" name="nickname" ng-model="input.nickname" required class="full-width">
                    </div>
                    <div class="input-group-item">
                        <div class="icon icon-dingwei pull-left"></div>
                        <div class="input-select ">
                            <select name="province" ng-model="input.province" ng-options="province for province in provinces"></select>
                            <select name="city" ng-model="input.city" ng-options="city for city in cities"></select>
                        </div>
                    </div>
                    <div class="item-tips">
                        <label>注册成功后，性别不可修改</label>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="btn-center">
                    <button type="button" class="btn btn-block btn-width" ng-disabled="stepForm2.$invalid" ng-class="{'btn-primary':stepForm2.$valid,'btn-default':stepForm2.$invalid}" ng-click="show_step(3)">下一步</button>
                </div>
            </div>
        </div>
    </div>
    <div class="signup" ng-if="step == 3" ng-form="stepForm3">
        <div class="section">
            <div class="input-group">
                <div class="input-group-item">
                    <div class="icon icon-shengao"></div>
                    <div class="sm-select">
                        <select class="full-width" ng-model="input.height" ng-options="height for height in heights"></select>
                    </div>
                    <div class="icon icon-jiantou"></div>
                </div>
                <div class="input-group-item">
                    <div class="icon icon-xueli"></div>
                    <div class="sm-select">
                        <select class="full-width" name="degree" ng-model="input.degree">
                            <option>初中以上</option>
                            <option>高中以上</option>
                            <option>中专以上</option>
                            <option>大专以上</option>
                            <option>本科以上</option>
                            <option>硕士以上</option>
                            <option>博士</option>
                        </select>
                    </div>
                    <div class="icon icon-jiantou"></div>
                </div>
                <div class="input-group-item">
                    <div class="icon icon-hunyin"></div>
                    <div class="sm-select">
                        <select class="full-width" name="marry" ng-model="input.marry">
                            <option>未婚</option>
                            <option>已婚</option>
                            <option>离异</option>
                            <option>丧偶</option>
                        </select>
                    </div>
                    <div class="icon icon-jiantou"></div>
                </div>
                <div class="input-group-item">
                    <div class="icon icon-shouru"></div>
                    <div class="sm-select">
                        <select class="full-width" name="income" ng-model="input.income">
                            <option>5000元以下</option>
                            <option>5000-8000元</option>
                            <option>8000-10000元</option>
                            <option>10000-20000元</option>
                            <option>20000-30000元</option>
                            <option>30000-40000元</option>
                            <option>40000-50000元</option>
                            <option>50000元以上</option>
                        </select>
                    </div>
                    <div class="icon icon-jiantou"></div>
                </div>
                <div class="item-tips" ng-click="go('privacy')">
                    <label>注册即同意因爱网<b>服务条款</b>和<b>隐私政策</b></span>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="btn-center">
                <button type="submit" class="btn btn-block btn-width" ng-disabled="signupForm.$invalid" ng-class="{'btn-primary':signupForm.$valid,'btn-default':signupForm.$invalid}">确认注册</button>
            </div>
        </div>
    </div>
</form>
<div class="model-signup" ng-if="modal.status == '1'" ng-click="cancel_modal()">
    <div class="model-signup-body">
        <p>你的手机号已经被注册</p>
    </div>
</div>