<div class="signin">
    <form name="" method="" action="" onsubmit="">
        <div class="input-group">
            <div class="input-group-item addon">
                <div class="icon icon-shouji"></div>
                <input type="text" placeholder="请输入手机号码" class="full-width">
            </div>
            <div class="input-group-item addon">
                <div class="icon icon-pwd"></div>
                <input type="email" placeholder="请输入密码" class="full-width" required="required">
                <!-- <div href="" class="clear"><i class="fa fa-times" aria-hidden="true"></i></div> -->
            </div>
            <div class="input-group-item clearfix">
                <input type="text" placeholder="请输入验证码" class="input-sm-width">
                <div class="btn btn-second btn-sm pull-right"><b>获取验证码</b></div>
            </div>
        </div>
        <div class="btn-center">
            <button href="" class="btn btn-default btn-block btn-width">登录</button>
        </div>
        <div class="signin-info">
            <div class="third-party">使用第三方登录</div>
        </div>
        <div class="btn-center text-center">
            <a href="" class="icon icon-weixin"></a>
        </div>
    </form>
</div>