
<div class="warning-info">


</div>
<div class="wrap">
	<div class="signup">

		<div class="input-group">
	          <div class="input-group-item">
	          	<div class="icon icon-pwd pull-left"></div>
	          	<input type="text" placeholder="请输入手机号码" class="input-lg-width">
	          </div>
	          <div class="input-group-item">
	          	<div class="icon icon-pwd pull-left"></div>
	          	<input type="password" placeholder="请输入密码" class="input-lg-width">
	          </div>
	          <div class="input-group-item">
	          	<input type="text" placeholder="请输入验证码" class="input-sm-width">

	          </div>
		</div>
		<div class="signup-info">
              <a href="" class="btn btn-default btn-block btn-width" ng-href="">下一步</a>
        </div>

	</div>
</div>