<div class="section">
    <div class="service">
        <div class="service-group service-padding">
            <a class="service-group-item service-content-border">
                <div class="info-avatar pull-left">
                    <div class="avatar-size">
                        <img src="../images/banner.png" class="full-width full-height">
                    </div>
                </div>
                <div class="info-tips pull-left">
                    <div class="">
                        <span>活动主题：相亲派对</span>
                        <label>时间：5月20日 19：30</label>
                        <label>地点：cocopar星巴克</label>
                    </div>
                </div>
            </a>
            <a class="service-group-item service-content-border">
                <div class="info-avatar pull-left">
                    <div class="avatar-size">
                        <img src="../images/banner.png" class="full-width full-height">
                    </div>
                </div>
                <div class="info-tips pull-left">
                    <div class="">
                        <span>活动主题：脱单还等什么啊 </span>
                        <label>时间：5月20日 19：30</label>
                        <label>地点：cocopar星巴克</label>
                    </div>
                </div>
            </a>
            <a class="service-group-item service-content-border">
                <div class="info-avatar pull-left">
                    <div class="avatar-size">
                        <img src="../images/banner.png" class="full-width full-height">
                    </div>
                </div>
                <div class="info-tips pull-left">
                    <div class="">
                        <span>活动主题：相亲派对</span>
                        <label>时间：5月20日 19：30</label>
                        <label>地点：cocopar星巴克</label>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="section">
    <div class="btn-center">
        <button href="" class="btn btn-primary btn-block btn-width" ng-click="">发布活动</button>
    </div>
</div>