<div class="section">
    <div href="" class="input-group">
        <a class="coach-item clearfix" ng-href="#/detail" ng-repeat="love in loves">
            <div class="coach-items">
                <div class="coach-avatar">
                    <img ng-src="{{love.image_01}}" class="full-width full-height">
                </div>
                <div class="coach-info">
                    <div class="coach-info-tip">
                        <p>
                            {{love.nickname}}
                            <span class="icon"  ng-if="'icon-nan-2':love.sex=='1'" ng-class=""></span>
                        </p>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <div class="icon icon-hotel"></div>
                        <div class="icon icon-cart"></div>
                        <span>{{love.edu}}</span>
                        <span>月薪</span>
                        <span>{{love.income}}</span>
                    </div>
                    <div class="coach-info-tag text-ellipsis clearfix">
                        <span class="btn btn-second btn-xs"><b>看电影</b></span>
                        <span class="btn btn-second btn-xs"><b>听歌</b></span>
                        <span class="btn btn-second btn-xs"><b>唱歌</b></span>
                    </div>
                    <div class="coach-info-tip clearfix">
                        <span>{{love.age}}岁</span>
                        <span>{{love.height}}</span>
                        <span>{{love.province}}</span>
                        <span>{{love.city}}</span>
                    </div>
                </div>
            </div>
        </a>
        <div class="btn btn-primary btn-block btn-width" ng-click="loadMore()">{{page.message}}</div>
    </div>

    <!-- footer tab bar -->
<dribehance-footer active="'index'"></dribehance-footer>
</div>

<div class="modal-overlay" ng-if="modal.status == '1'">
    <div class="madal-body">
        <img src="../images/banner.png" class="full-width full-height">
        <div class="madal-body-info">
            缴纳约会保证金，同意和少帅毛毛共同约会
        </div>
        <div class="madal-body-btn" ng-click="cancel_modal()">取消</div>
        <div class="madal-body-btn" ng-click="confirm_modal()">确定</div>
    </div>
</div>