<div class="section">
    <div class="withdrawals">
        <div class="title">
            当前可以提现金额:{{user.deposit}}元
        </div>
        <form name="withdrawForm" ng-submit="ajaxForm()">
            <div class="withdrawals-content">
                <div class="input-wrap">
                    <input type="text" class="full-width" name="draw_money" ng-model="input.draw_money" required/>
                </div>
            </div>
            <div class="btn-center">
                <button type="submit" class="btn btn-primary btn-block btn-width" ng-disabled="withdrawForm.$invalid">申请提现</button>
            </div>
        </form>
    </div>
</div>