.icon {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	&.icon-home {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-image: url("../images/tab_1.png");
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: center center;
		&.active {
			background-image: url("../images/tab_1_active.png");
		}
	}
	&.icon-second {
		display: inline-block;
		width: 30px;
		height: 30px;
		background-image: url("../images/tab_2.png");
		background-repeat: no-repeat;
		background-size: 80%;
		background-position: center center;
		&.active {
			background-image: url("../images/tab_2_active.png");
		}
	}
}