/**重用样式*/

a:hover {
    text-decoration: none;
}

.section {
    display: block;
    overflow: hidden;
}

.input-group {
    margin-bottom: 20px;
    padding-left: 0;
    .input-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        background-color: white;
        border-bottom: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        .input-width {
            width: 88%;
        }
        .input-lg-width {
            width: 70%;
        }
        .input-sm-width {
            width: 65%;
        }
        input {
            display: inline-block;
            outline: none;
            border: none;
            line-height: 19px;
            height: 19px;
            &::-ms-clear {
                display: none;
            }
            &:valid+.clear {
                display: inline;
            }
        }
        .input-icon-forward {
            position: absolute;
            top: 12px;
            right: 16px;
            z-index: -10;
        }
        .clear {
            display: none;
            position: absolute;
            width: 16px;
            height: 16px;
            margin: 0 0 0 -20px;
        }
        /**用作标签按钮*/
        span {
            position: absolute;
            top: 5px;
            right: 15px;
        }
        label {
            display: inline-block;
        }
        select {
            border: none;
            background-color: white;
            -webkit-appearance: none;
            outline: none;
        }
        .select-lg-width {
            width: 86%;
        }
    }
    .coach-wrap {
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #F3F3F3;
        .coach-item {
            display: block;
            position: relative;
            padding-left: 100px;
            height: 100px;
            margin-bottom: 15px;
            overflow: hidden;
            color: #494949;
            cursor: pointer;
            .coach-avatar {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100px;
                height: 100px;
                background-position: center center;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                img {
                    border: 1px solid #555;
                    border-radius: 8px;
                }
            }
            .coach-info {
                display: block;
                padding-left: 10px;
                font-weight: 100;
                p {
                    margin: 0;
                    padding: 0;
                }
                .input-info-title {
                    p {
                        display: inline-block;
                        color: #000;
                        overflow: hidden;
                        span {
                            display: inline-block;
                        }
                    }
                }
                .coach-info-tip {
                    display: block;
                    margin-bottom: 4px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    span {
                        font-size: 10px;
                        overflow: hidden;
                    }
                }
                .coach-info-tag {
                    width: 160px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-bottom: 5px;
                }
                .coach-info-height {
                    margin-bottom: 21px;
                }
            }
            .input-icon-forward {
                position: absolute;
                top: 12px;
                right: 16px;
            }
        }
    }
    .input-group-list{
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid #F3F3F3;
        .input-group-list-
    }
    .item-tips {
        display: block;
        padding: 10px 15px;
        background-color: #fff;
        color: #ddd;
        font-weight: normal;
        b {
            color: #8140AA;
        }
    }
    a {
        text-decoration: none;
    }
}


/*按钮的宽度的**/

.btn-width {
    width: 90%;
    margin: 0 auto;
}

.or {
    display: block;
    text-align: center;
    position: relative;
    margin: 0 30px;
}

.or-width {
    width: 40%;
}

.man,
.woman {
    width: 30%;
}

.woman {
    text-align: right;
}

.or::before {
    content: "";
    top: 7px;
    height: 1px;
    background-color: #a0a0a0;
}

.or::before {
    position: absolute;
    left: 0;
    display: block;
    right: 0;
}

.or::after {
    content: "or";
    width: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
}

.or::after {
    position: absolute;
    left: 0;
    display: block;
    right: 0;
}


/*第三方登录title*/

.third-party {
    display: block;
    text-align: center;
    position: relative;
    margin: 0 22px;
    color: #ddd;
}

.third-party::before {
    content: "";
    top: 11px;
    height: 1px;
    background-color: #ddd;
}

.third-party::before {
    position: absolute;
    left: 0;
    display: block;
    right: 0;
}

.third-party::after {
    content: "使用第三方登录";
    width: 120px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
}

.third-party::after {
    position: absolute;
    left: 0;
    display: block;
    right: 0;
}


/***登录注册***/

.signin,
.signup {
    display: block;
    overflow: hidden;
}

.signin-info,
.btn-center {
    margin-bottom: 20px;
}

.signup-head {
    display: block;
    padding-top: 10px;
    .images {
        display: block;
        width: 100px;
        height: 100px;
        border: 1px solid #eee;
        margin: auto;
        span {
            display: block;
            margin: 30px 0 10px 0;
        }
        label {
            display: block;
        }
    }
    a {
        text-decoration: none;
    }
}

.signup-or {
    display: block;
    padding: 15px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #C987E8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signup-blank {
    width: 100%;
    height: 1px;
    padding: 5px 0
}


/**相机顶部距离**/

.camera-top {
    margin-top: 20px;
}


/*验证*/

.anthen {
    .anthen-tips {
        display: block;
        padding: 10px 15px;
        background-color: #F8F8F8;
        border-bottom: 1px solid #F1F1F1;
    }
}


/**实名验证**/

.id-card {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    .positive {
        display: block;
        width: 50%;
        overflow: hidden;
        span {
            display: block;
            text-align: center;
            b {
                color: red;
            }
        }
        .images-left {
            display: block;
            padding: 10px 5px 10px 10px;
            box-sizing: border-box;
        }
        .images-right {
            display: block;
            padding: 10px 10px 10px 5px;
            box-sizing: border-box;
        }
        .images-size {
            display: block;
            text-align: center;
            height: 100px;
            vertical-align: middle;
            background-position: center center;
            background-color: #E8E8E8;
            img {
                margin: 20px auto;
            }
        }
    }
}

.min-bg {
    min-height: 780px;
    background-color: #F6F6F6;
}

// /**标签*/
.btn-second {
    .button-variant(@brand-primary;
    #fff;
    @brand-primary);
    border-radius: 20px;
}

.btn-third {
    .button-variant(@brand-second;
    @brand-primary;
    @brand-primary);
    border-radius: 100px;
}

.line {
    position: absolute;
    top: 41px;
    left: 45px;
    width: 1px;
    height: 100%;
    border: 1px solid #F5F5F5;
    border-right: none;
}

.contact {
    position: relative;
    display: block;
    padding-top: 20px;
    overflow: hidden;
    p {
        position: relative;
        display: block;
        margin-left: 40px;
        margin-bottom: 10px;
        padding: 10px 15px;
        box-sizing: border-box;
        word-break: break-all;
        .spot {
            position: absolute;
            top: 14px;
            left: 0;
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 30px;
        }
        .spot-style1 {
            border: 1px solid #1ACFC7;
            background-color: #1ACFC7;
        }
        .spot-style2 {
            border: 1px solid #44D350;
            background-color: #44D350;
        }
        .spot-style3 {
            border: 1px solid #FFA851;
            background-color: #FFA851;
        }
        label {
            padding: 0;
            margin: 0;
            color: #837FD4;
        }
    }
}